<div class="code">
    <code>
        let viewPath = path.resolve(__dirname,'ejs');
        let ejsName = urlrewriteMap[url];
        if (ejsName) {
            let layoutPath = path.resolve(viewPath,'layout.ejs');
            let layoutHTML = fs.readFileSync(layoutPath,'utf8');

    </code>
</div>